@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");

*{
    margin: 0;
    padding: 0;
    font-size: 2rem;
    font-family: cursive;
}
body{
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
.container{
    height: 100vh !important;
}
#alert{
    font-size: 0.8rem !important;
}
table{
    overflow-y:scroll !important;
    overflow-x: hidden !important;
    width: 100%;
    height: 500px;
    display: block;
}
table *{
    font-size: 0.8rem !important;
}
tr{
    width: 100% !important;
    cursor: pointer !important;
}

div#spans {
    position: fixed;
    top: 30px;
    right: 5px;
    display: grid;
}
div#spans span{
    cursor: pointer;
    border-radius: 20px;
    margin-bottom: 5px;
    font-size: 1rem;
    padding: 5px 10px;
    color: aliceblue;
}
#first:hover{
    background-color: #175e3d !important;
}
#last:hover{
    background-color: #a72330 !important;
}